body {
  margin: 0 auto;
  width: 960px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header#main-header {
  font-size: 2em;
  font-weight: bold;

  nav {
    float: right;
    font-size: 0.5em;
    font-weight: normal;

    a {
      display: inline-block;
      margin-right: 12px;
    }
  }
}
